<ion-header [translucent]="true">
  <ion-toolbar class="topo-toolbar">
    <ion-title>Identidade Acadêmica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="pagina-home">
  <div class="fundo-luz fundo-luz-esquerda"></div>
  <div class="fundo-luz fundo-luz-direita"></div>

  <div class="conteudo-home ion-padding">
    <ion-card class="cartao-identificacao">
      <div class="faixa-topo">
        <div>
          <p class="instituicao">{{ instituicao }}</p>
          <p class="tipo-cartao">Cartão digital do aluno</p>
        </div>
      </div>

      <ion-card-content>
        <div class="bloco-principal">
          <img src="assets/foto-gabriel.jpeg" alt="Foto de Gabriel Suliano David" class="foto-aluno" />

          <div class="dados-aluno">
            <h2>{{ nomeCompleto }}</h2>
            <p>Cartão de identificação acadêmica para acesso rápido no navegador.</p>
          </div>
        </div>

        <div class="dados-obrigatorios">
          <div class="resumo-item">
            <span>Turma</span>
            <strong>{{ turma }}</strong>
          </div>

          <div class="resumo-item">
            <span>Unidade</span>
            <strong>{{ unidade }}</strong>
          </div>

          <div class="resumo-item resumo-item-amplo">
            <span>Turno</span>
            <strong>{{ turno }}</strong>
          </div>
        </div>

        <ion-button expand="block" size="large" routerLink="/sobre" class="botao-principal">
          Ir para a tela 2
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
